include versioneer.py
include is_number/_version.py
include README.rst
include LICENSE
include requirements.txt
graft is_number
recursive-exclude * *.py[co]
include versioneer.py
include is_number/_version.py
